<!DOCTYPE html>
<html lang="pt-BR" class="h-100">
    <head>
        <title>IFSP - Login</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon" />
        
        <script src="https://unpkg.com/imask"></script>
    </head>

    <body class="d-flex flex-column h-100">
        <header>
            <div class="container">
                <a href="{{ url_for('home.index') }}">
                    <img
                        src="{{ url_for('static', filename='images/logo4.png') }}"
                        alt="logo"
                        height="50rem"
                        width="200rem"
                    />
                </a>
                <nav id="links">
                    <a class="cabecalho" href="{{ url_for('home.faq') }}">FAQ</a>
                    <a class="cabecalho" href="{{ url_for('home.sobre_nos') }}">Sobre nós</a>
                    <a class="cabecalho" href="{{ url_for('home.seguranca') }}">Segurança</a>
                    <a class="cabecalho" id="login" href="{{ url_for('auth.login') }}"
                        >Acesse sua conta ›</a
                    >
                    <a class="cabecalho" id="abrir_conta" href="{{ url_for('auth.abrir_conta') }}"
                        >Abra sua conta »</a
                    >
                </nav>
            </div>
        </header>

        <main class="flex-grow-1">
            <div class="row g-0 flex-grow-1">
                <div class="col-md-6 d-none d-md-block">
                    <img
                        src="{{ url_for('static', filename='images/foto3.jpg') }}"
                        alt="Pessoas usando serviços financeiros digitais"
                        class="img-fluid w-100 h-100 object-fit-cover"
                    />
                </div>

                <div
                    class="col-md-6 d-flex align-items-center justify-content-center coluna texto"
                >
                    <div class="form-card">
                        
                        <form action="{{ url_for('auth.login') }}" method="POST" class="needs-validation" novalidate>
                            <h1 class="h2 mb-3 fw-bold text-center">Portal do Cliente</h1>
                            <p class="text-center text-muted mb-4">
                                Informe os dados de acesso a sua conta
                            </p>

                            <div class="form-floating mb-3">
                                <input
                                    type="text"
                                    name="cpf"
                                    class="form-control"
                                    id="floatingCpf"
                                    placeholder="12345678900"
                                    required />
                                <label for="floatingCpf">Seu CPF *</label>
                                <div class="invalid-feedback">
                                    Por favor, insira um CPF.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    id="floatingPassword"
                                    placeholder="senha"
                                    required
                                />
                                <label for="floatingPassword">Sua Senha *</label>
                                <div class="invalid-feedback">
                                    Por favor, insira sua senha.
                                </div>
                            </div>

                            <a href="{{ url_for('auth.esqueci_senha') }}" class="form-links d-block mb-3 mt-3"
                                >Esqueci a senha</a
                            >

                            <div class="mb-3">
                                <button class="btn button-laranja w-100 py-2">Acessar</button>
                            </div>

                            <div class="mb-3">
                                <a
                                    href="{{ url_for('auth.abrir_conta') }}"
                                    class="btn button-laranja-branco w-100 py-2"
                                    >Criar Conta</a
                                >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>