<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Instituição Financeira de São Paulo</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/css/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <image src="{{ url_for('static', filename='image/logo1.png') }}" alt="Logo do IFSP" id="logo">
            </div>
            <h1 id="Título">Instituição Financeira de São Paulo</h1>
        </header>
        <main>
            <p>
                Bem-vindo(a) ao banco IFSP!
            </p>
        </main>
        <footer>
        </footer>
    </body>
</html>