<!DOCTYPE html>

<html>
    <head>
        <title>IFSP</title>
        <meta charset="UTF-8" class="h-100">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="icon.png" type="image/x-icon">
    </head>

    <body class="d-flex ">
        
        <header>
            <div class="container">
                <a href="index.html">
                    <img src="logo4.png" alt="logo" height="50rem" width="200rem">
                </a>

                <nav id="links">
                    <a class="cabecalho" href="faq.html">FAQ</a>
                    <a class="cabecalho" href="sobre-nos.html">Sobre nós</a>
                    <a class="cabecalho" href="seguranca.html">Segurança</a>
                    <a class="cabecalho" id="login" href="login.html">Acesse sua conta ›</a>
                    <a class="cabecalho" id="abrir_conta" href="abrir-conta.html">Abra sua conta »</a>
                </nav>
            </div>
        </header>

        <main>

            <div class="colunas">

                <section class="coluna imagem">
                    <img src="foto2.jpg" alt="foto2">
                </section>
                
                <section class="coluna texto">
                    <h1 class="h1 mb-3 fw-bold text-white">Abra a sua Conta</h1>
                    <h5 class="h5 mb-3 fw-normal text-white">Preencha os campos a seguir »</h5>
                    
                    <div class="form-card2 ">
                        <!-- nome, telefone, e-mail, cpf, data de nascimento, termos de uso  -->
                        
                        <form action="enviar.py" method="get">
                            
    
                            <div class="form-floating" >
                                <input type="text" name="nome-completo" class="form-control" id="floatingInput" placeholder="Ex: Maria Aparecida">
                                <label for="floatingInput">Digite seu nome completo</label>
                            </div>
                            
                            <div class="form-floating" >
                                <input type="number" name="telefone" class="form-control" id="floatingInput" placeholder="Ex: 11987654321">
                                <label for="floatingInput">Digite seu telefone</label>
                            </div>
                            
                            <div class="form-floating" >
                                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Ex: usuario@email.com">
                                <label for="floatingInput">Digite seu e-mail</label>
                            </div>

                            <div class="form-floating" >
                                <input type="text" name="cpf" class="form-control" id="floatingInput" placeholder="Ex: 12345678900">
                                <label for="floatingInput">Digite seu cpf</label>
                            </div>
                        
                            <div class="form-floating" >
                                <input type="date" name="nascimento" class="form-control" id="floatingInput">
                                <label for="floatingInput">Digite sua data de nascimento</label>
                            </div>  

                            <div class="for-check text-start my-3">
                                <input type="checkbox" class="form-check-input" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault" id="checkboxLabel">Estou de acordo com a <a id="checkboxLink" href="#">Política de Privacidade</a>.</label>
                            </div>

                            
                            <div class="mb-3">
                                <button class="btn button-laranja w-100 py-2">Continuar</button>
                            </div>
                        </form>

                    </div>
                </section>
            </div>
        </main>
        <footer>
            <p>© 2025 IFSP - Instituto Federal de Educação, Ciência e Tecnologia de São Paulo</p>
        </footer>
    </body>
</html>
