<!DOCTYPE html>

<html>
    <head>
        <title>IFSP</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="icon.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="container">
                <a href="index.html">
                    <img src="logo4.png" alt="logo" height="50rem" width="200rem">
                </a>

                <nav id="links">
                    <a class="cabecalho" href="faq.html">FAQ</a>
                    <a class="cabecalho" href="sobre-nos.html">Sobre nós</a>
                    <a class="cabecalho" href="seguranca.html">Segurança</a>
                    <a class="cabecalho" id="login" href="login.html">Acesse sua conta ›</a>
                    <a class="cabecalho" id="abrir_conta" href="abrir-conta.html">Abra sua conta »</a>
                </nav>
            </div>
        </header>
        <main>
        </main>
        <footer>
            <p>© 2025 IFSP - Instituto Federal de Educação, Ciência e Tecnologia de São Paulo</p>
        </footer>
    </body>
</html>
